@model IEnumerable<hotel.Models.RoomAmenity>

@{
    ViewBag.Title = "Index";
}

<h2>Comodidades a la habitación</h2>

<p>
    @Html.ActionLink("Nueva Comodidad", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Fecha:
        </th>
        <th>
            ID de reservacón:
        </th>
        <th>
            Nombre de la comodidad:
        </th>
        <th></th>
    </tr>

    @foreach (var amenity in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelamenity => amenity.date)
            </td>
            <td>
                @Html.DisplayFor(modelamenity => amenity.Reservation.reservationID)
            </td>
            <td>
                @Html.DisplayFor(modelamenity => amenity.Service.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = amenity.amenityID }) |
                @Html.ActionLink("Details", "Details", new { id = amenity.amenityID }) |
                @Html.ActionLink("Delete", "Delete", new { id = amenity.amenityID })
            </td>
        </tr>
    }
</table>