@model IEnumerable<hotel.Models.ReservedFrom>

@{
    ViewBag.Title = "Index";
}

<h2>Opciones para reservar</h2>

<p>
    @Html.ActionLink("Nuevo Metodo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Opción de reservación:
        </th>
        <th></th>
    </tr>

    @foreach (var option in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modeloption => option.reservationMethod)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = option.reservedFromID }) |
                @Html.ActionLink("Details", "Details", new { id = option.reservedFromID }) |
                @Html.ActionLink("Delete", "Delete", new { id = option.reservedFromID })
            </td>
        </tr>
    }
</table>