@model hotel.Models.Guest

@{
    ViewBag.Title = "Detalles del cliente";
}

<h2>Details</h2>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre(s):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Apellidos:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            Dirección:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            Fecha de nacimiento:
        </dt>

        <dd>
            @Model.DOB.ToString("dd 'de' MMMM 'del' yyyy")
        </dd>

        <dt>
            Sexo:
        </dt>

        @if (Model.sex == "H")
        {
            <dd>Hombre</dd>
        }
        else if (Model.sex == "M")
        {
            <dd>Mujer</dd>
        }
        else
        {
            <dd>Otro</dd>
        }

        <dt>
            Telefono de casa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.housePhone)
        </dd>

        <dt>
            Telefono celular:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cellPhone)
        </dd>

        <dt>
            Correo electronico:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            RFC:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            Pais:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfOrigin1.country)
        </dd>

        <dt>
            Ciudad:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.city1)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Index")'">Regresar</button>
</p>
