@model IEnumerable<hotel.Models.Guest>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Nombre(s)
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Dirección
        </th>
        <th>
            Telefono de casa
        </th>
        <th>
            Telefono celular
        </th>
        <th>
            Correo electronico
        </th>
        <th>
            RFC
        </th>
        <th>
            Pais
        </th>
        <th>
            Ciudad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.housePhone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.cellPhone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RFC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlaceOfOrigin1.country)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City.city1)
    </td>
    <td>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = item.guestID })'">Editar</button>
        <button type="button" class="btn btn-info" onclick="location.href='@Url.Action( "Details", new { id = item.guestID })'">Detalles</button>
        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = item.guestID })'">Eliminar</button>
    </td>
</tr>
}

</table>
