@model IEnumerable<hotel.Models.Guest>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Nombre(s):
        </th>
        <th>
            Apellido(s):
        </th>
        <th>
            Dirección:
        </th>
        <th>
            Telefono de casa:
        </th>
        <th>
            Telefono celular:
        </th>
        <th>
            Correo electronico:
        </th>
        <th>
            RFC:
        </th>
        <th>
            Pais:
        </th>
        <th>
            Ciudad:
        </th>
        <th></th>
    </tr>

    @foreach (var companion in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelcompanion => companion.name)
            </td>
            <td>
                @Html.DisplayFor(modelcompanion => companion.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelcompanion => companion.address)
            </td>
            <td>
                @Html.DisplayFor(modelcompanion => companion.housePhone)
            </td>
            <td>
                @Html.DisplayFor(modelcompanion => companion.cellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelcompanion => companion.email)
            </td>
            <td>
                @Html.DisplayFor(modelcompanion => companion.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelcompanion => companion.PlaceOfOrigin1.country)
            </td>
            <td>
                @Html.DisplayFor(modelcompanion => companion.City.city1)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { client = companion.guestID })'">Editar</button>
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action( "Details", new { client = companion.guestID })'">Detalles</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { client = companion.guestID })'">Eliminar</button>
            </td>
        </tr>
    }
</table>