@model hotel.Models.Room

@{
    ViewBag.Title = "Agregar Habitación";
}

<h2>Agregar Habitación</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
           
            <div class="col-md-10">
                <label>Número de cuarto</label>  
                @Html.EditorFor(model => model.roomNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.roomNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                <label>Tipo de cuarto</label>
                @Html.DropDownList("roomTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.roomTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-10">
                <label>Estatus del cuarto</label>
                @Html.DropDownList("roomStatusID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.roomStatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class=" col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>

    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Index")'">Regresar</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
