@model IEnumerable<hotel.Models.RoomPromo>

@{
    ViewBag.Title = "Promociones por cuarto";
}

<h2>Promoción de habitación</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Descuento:
        </th>
        <th>
            Promoción:
        </th>
        <th>
            Tipo de habitación:
        </th>
        <th></th>
    </tr>

    @foreach (var promo in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelpromo => promo.discount)
            </td>
            <td>
                @Html.DisplayFor(modelpromo => promo.Promo.promoName)
            </td>
            <td>
                @Html.DisplayFor(modelpromo => promo.RoomType.typeName)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = promo.roomPromoID })'">Editar</button>
              
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = promo.roomPromoID })'">Eliminar</button>
            </td>
        </tr>
    }
</table>