@model IEnumerable<hotel.Models.RoomPromo>

@{
    ViewBag.Title = "Index";
}

<h2>Promoción de habitación</h2>

<p>
    @Html.ActionLink("Nueva Promoción", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descuento:
        </th>
        <th>
            Promoción:
        </th>
        <th>
            Tipo de habitación:
        </th>
        <th></th>
    </tr>

    @foreach (var promo in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelpromo => promo.discount)
            </td>
            <td>
                @Html.DisplayFor(modelpromo => promo.Promo.promoName)
            </td>
            <td>
                @Html.DisplayFor(modelpromo => promo.RoomType.typeName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = promo.roomPromoID }) |
                @Html.ActionLink("Details", "Details", new { id = promo.roomPromoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = promo.roomPromoID })
            </td>
        </tr>
    }
</table>