@model IEnumerable<hotel.Models.RoomPromo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descuento
        </th>
        <th>
           Promoción
        </th>
        <th>
           Tipo de habitación
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promo.promoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType.typeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.roomPromoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.roomPromoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.roomPromoID })
        </td>
    </tr>
}

</table>
