@model hotel.Models.TypeOfBonification

@{
    ViewBag.Title = "Crear nuevo tipo de bonificación";
}

<h2>Crear nuevo tipo de bonificación</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <label class="col-md-2 control-label">Dias de hospedaje:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.daysLodging, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.daysLodging, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Bono:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.bonus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.bonus, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Index")'">Regresar</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
