@model IEnumerable<hotel.Models.TypeOfBonification>

@{
    ViewBag.Title = "Index";
}

<h2>Tipo de bonificaciones</h2>

<p>
    @Html.ActionLink("Nuevo tipod e bonificación", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Dias de alojamiento:
        </th>
        <th>
            Bono:
        </th>
        <th></th>
    </tr>

    @foreach (var bonusType in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelbonusType => bonusType.daysLodging)
            </td>
            <td>
                @Html.DisplayFor(modelbonusType => bonusType.bonus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = bonusType.typeOfBonificationID }) |
                @Html.ActionLink("Details", "Details", new { id = bonusType.typeOfBonificationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = bonusType.typeOfBonificationID })
            </td>
        </tr>
    }
</table>