@model IEnumerable<hotel.Models.Service>

@{
    ViewBag.Title = "Index";
}

<h2>Servicios</h2>

<p>
    @Html.ActionLink("Nuevo Servicio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del servicio:
        </th>
        <th>
            Precio:
        </th>
        <th>
            Tipo de servico:
        </th>
        <th></th>
    </tr>

    @foreach (var service in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelservice => service.name)
            </td>
            <td>
                @Html.DisplayFor(modelservice => service.price)
            </td>
            <td>
                @Html.DisplayFor(modelservice => service.ServiceType.serviceType1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = service.serviceID }) |
                @Html.ActionLink("Details", "Details", new { id = service.serviceID }) |
                @Html.ActionLink("Delete", "Delete", new { id = service.serviceID })
            </td>
        </tr>
    }
</table>