@model IEnumerable<hotel.Models.Service>

@{
    ViewBag.Title = "Amenidades";
}

<h2>Servicios</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Nombre del servicio:
        </th>
        <th>
            Precio:
        </th>
        <th>
            Tipo de servico:
        </th>
        <th></th>
    </tr>

    @foreach (var service in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelservice => service.name)
            </td>
            <td>
                @Html.DisplayFor(modelservice => service.price)
            </td>
            <td>
                @Html.DisplayFor(modelservice => service.ServiceType.serviceType1)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id =  service.serviceID })'">Editar</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id =  service.serviceID })'">Eliminar</button>
            </td>
        </tr>
    }
</table>