@model IEnumerable<hotel.Models.City>

@{
    ViewBag.Title = "Ciudades Mexicanas";
}

<h2>Ciudades Mexicanas</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar Ciudad Mexicana</button>
</p>
<table class="table">
    <tr>
        <th>
           Ciudad
        </th>
        <th>
            Estado de la republica
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.city1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.state1)
        </td>
        <td>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = item.cityID })'">Editar</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = item.cityID })'">Eliminar</button>
        </td>
    </tr>
}

</table>
