@model IEnumerable<hotel.Models.Promo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.promoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.promoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @item.startDate.ToString("dd 'de' MMMM 'del' yyyy")
        </td>
        <td>
            @item.endDate.ToString("dd 'de' MMMM 'del' yyyy")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.promoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.promoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.promoID })
        </td>
    </tr>
}

</table>
