@model IEnumerable<hotel.Models.Promo>

@{
    ViewBag.Title = "Index";
}

<h2>Promociones</h2>

<p>
    @Html.ActionLink("Nueva Promoción", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre de la promoción:
        </th>
        <th>
            Descripción:
        </th>
        <th>
            Fecha de Inicio:
        </th>
        <th>
            Fecha de Terminación:
        </th>
        <th></th>
    </tr>

    @foreach (var promo in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelpromo => promo.promoName)
            </td>
            <td>
                @Html.DisplayFor(modelpromo => promo.description)
            </td>
            <td>
                @promo.startDate.ToString("dd 'de' MMMM 'del' yyyy")
            </td>
            <td>
                @promo.endDate.ToString("dd 'de' MMMM 'del' yyyy")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = promo.promoID }) |
                @Html.ActionLink("Details", "Details", new { id = promo.promoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = promo.promoID })
            </td>
        </tr>
    }
</table>