@model hotel.Models.GuestCompanion

@{
    ViewBag.Title = "Detalles del acompañante";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre(s):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Apellidos:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            Fecha de nacimiento:
        </dt>

        <dd>
            @Model.DOB.ToString("dd 'de' MMMM 'del' yyyy")
        </dd>

        <dt>
           Correo electronico:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            ID de reservación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation.reservationID)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Index")'">Regresar</button>
</p>
