@model IEnumerable<hotel.Models.GuestCompanion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Reservación
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reservationID)
        </td>
        <td>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = item.companionID })'">Editar</button>
            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action( "Details", new { id = item.companionID })'">Detalles</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = item.companionID })'">Eliminar</button>
        </td>
    </tr>
}

</table>
