@model IEnumerable<hotel.Models.GuestCompanion>

@{
    ViewBag.Title = "Index";
}

<h2>Acompañantes</h2>

<p>
    @Html.ActionLink("Nuevo Acompañante", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre(s):
        </th>
        <th>
            Apellido(s):
        </th>
        <th>
            Reservación:
        </th>
        <th>
            Acciones:
        </th>
    </tr>

    @foreach (var companion in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelcompanion => companion.name)
            </td>
            <td>
                @Html.DisplayFor(modelcompanion => companion.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelcompanion => companion.reservationID)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = companion.companionID })'">Editar</button>
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action( "Details", new { id = companion.companionID })'">Detalles</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = companion.companionID })'">Eliminar</button>
            </td>
        </tr>
    }
</table>