<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema del Hotel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Registro de hotel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Clientes <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Reservacion", "Index", "Reservations")</li>
                            <li>@Html.ActionLink("Clientes", "Index", "Guests")</li>
                            <li>@Html.ActionLink("Acompañantes", "Index", "GuestCompanions")</li>
                            <li>@Html.ActionLink("Facturas", "Index", "Invoices")</li>
                            <li>@Html.ActionLink("Calificacion", "Index", "ReservationReviews")</li>
                            <li>@Html.ActionLink("Quejas y sugerencias", "Index", "ReservationComplaints")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Cuartos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Cuartos", "Index", "Rooms")</li>
                            <li>@Html.ActionLink("Tipo de cuartos", "Index", "RoomTypes")</li>
                            <li>@Html.ActionLink("Estatus del cuarto", "Index", "RoomStatus")</li>
                            <li>@Html.ActionLink("Promociones", "Index", "Promoes")</li>
                            <li>@Html.ActionLink("Promocion por cuarto", "Index", "RoomPromoes")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Amenidades <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Reservar amenidad", "Index", "RoomAmenities")</li>
                            <li>@Html.ActionLink("Amenidad", "Index", "Services")</li>
                            <li>@Html.ActionLink("Calificación", "Index", "AmenityReviews")</li>
                            <li>@Html.ActionLink("Quejas y sugerencias", "Index", "AmenityComplaints")</li>
                        </ul>
                    </li>
                    @if (ViewBag.admin == 1)
                    {
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Administrador <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Empleados", "Index", "Employees")</li>
                            <li>@Html.ActionLink("Departamento", "Index", "Departaments")</li>
                            <li>@Html.ActionLink("Bonifiaciones", "Index", "Bonifications")</li>
                            <li>@Html.ActionLink("Tipo de bonificaciones", "Index", "TypeOfBonifications")</li>
                            <li>@Html.ActionLink("Paquetes de habitacion", "Index", "RoomPackages")</li>
                            <li>@Html.ActionLink("Paquetes con servicio incluido", "Index", "RoomServicePackages")</li>
                            <li>@Html.ActionLink("Tipo de servicio", "Index", "ServiceTypes")</li>
                            <li>@Html.ActionLink("Estatus de reservación", "Index", "ReservationStatus")</li>
                            <li>@Html.ActionLink("Tipo de reservacion", "Index", "ReservedFroms")</li>
                            <li>@Html.ActionLink("Paises", "Index", "PlaceOfOrigins")</li>
                            <li>@Html.ActionLink("Estados de Mexico", "Index", "States")</li>
                            <li>@Html.ActionLink("Ciudades", "Index", "Cities")</li>
                        </ul>
                    </li>
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Consultas <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Consulta 1", "Index", "Consulta1")</li>
                            <li>@Html.ActionLink("Grafico", "Grafico", "Reservations")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Cerrar Sesion", "Logout","Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hotel Trivago</p>
        </footer>
    </div>
    <script>
        $(document).ready(function () {
            if ($("#placeOfOrigin").val() == "MEX") {
                $("#cityID").prop("disabled", false)
            }
            else {
                $("#cityID").prop("disabled", true)
                $("#cityID").val(null)
            }
        })

        $("#placeOfOrigin").on("change", function () {
            if ($("#placeOfOrigin").val() == "MEX") {
                $("#cityID").prop("disabled", false)
                $("#cityID").val("1")
            }
            else {
                $("#cityID").prop("disabled", true)
                $("#cityID").val(null)
            }
        })
    </script>

</body>
</html>
