@model IEnumerable<hotel.Models.busqueda_reporte3_Result>

@{
    ViewBag.Title = "Reporte 3";
}

    <h2>Reporte de ocupación del hotel clasificado por temporada en un rango de fechas dado.</h2>
<br />
@using (Html.BeginForm("reporte3", "Reportes", FormMethod.Post))
{
    <fieldset>
        @Html.Label("fromDate", "Inicio:", htmlAttributes: new { @class = "control-label col-md-2" })
        <input class="form-control" id="fromDate" name="fromDate" type="date" value="">
        @Html.Label("toDate", "Fin:", htmlAttributes: new { @class = "control-label col-md-2" })
        <input class="form-control" id="toDate" name="toDate" type="date" value="">
        <input type="submit" value="Apply" class="btn btn-primary" />
    </fieldset>
}
<br />

<table class="table">
    <tr>
        <th>
            Nombre de promocion
        </th>
        <th>
            Conteo
        </th>
        <th>
            Fecha
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.promoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.conteo)
            </td>
            <td>
                @item.startDate.ToString("dd 'de' MMMM 'del' yyyy")
            </td>
        </tr>
    }

</table>
