@model IEnumerable<hotel.Models.RoomServicePackage>

@{
    ViewBag.Title = "Index";
}

<h2>Paquetes de servicio a la habitación</h2>

<p>
    @Html.ActionLink("Nuevo Paquete", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del paquete:
        </th>
        <th>
            Nombre del servicio:
        </th>
        <th></th>
    </tr>

    @foreach (var package in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelpackage => package.RoomPackage.namePackage)
            </td>
            <td>
                @Html.DisplayFor(modelpackage => package.Service.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = package.roomServicePackageID }) |
                @Html.ActionLink("Details", "Details", new { id = package.roomServicePackageID }) |
                @Html.ActionLink("Delete", "Delete", new { id = package.roomServicePackageID })
            </td>
        </tr>
    }
</table>