@model IEnumerable<hotel.Models.ReservationComplaint>

@{
    ViewBag.Title = "Quejas y sugerencias de reservación";
}

<h2>Quejas y sugerencias de reservación</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Comentario
        </th>
        <th>
           Fecha registrada
        </th>
        <th>
           Departamento
        </th>
        <th>
            No. de reservacion
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateComplaint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departament.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation.reservationID)
        </td>
    </tr>
}

</table>
