@model IEnumerable<hotel.Models.ReservationComplaint>

@{
    ViewBag.Title = "Index";
}

<h2>Quejas de reservación</h2>

<p>
    @Html.ActionLink("Nueva Queja", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID Queja:
        </th>
        <th>
            Comentario:
        </th>
        <th>
            Fecha:
        </th>
        <th>
            Tipo de Departamento:
        </th>
        <th>
            ID de Reservación:
        </th>
        <th></th>
    </tr>

    @foreach (var complaint in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelcomplaint => complaint.complaintID)
            </td>
            <td>
                @Html.DisplayFor(modelcomplaint => complaint.comment)
            </td>
            <td>
                @Html.DisplayFor(modelcomplaint => complaint.dateComplaint)
            </td>
            <td>
                @Html.DisplayFor(modelcomplaint => complaint.Departament.type)
            </td>
            <td>
                @Html.DisplayFor(modelcomplaint => complaint.Reservation.reservationID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = complaint.reservationID }) |
                @Html.ActionLink("Details", "Details", new { id = complaint.reservationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = complaint.reservationID })
            </td>
        </tr>
    }
</table>