@model IEnumerable<hotel.Models.ReservationReview>

@{
    ViewBag.Title = "Index";
}

<h2>Reseñas de reservaciones</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Calificación:
        </th>
        <th>
            Fecha de reseña:
        </th>
        <th>
            Tipo de Departamento:
        </th>
        <th>
            ID de reservación:
        </th>

    </tr>

    @foreach (var review in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelreview => review.reviewRoom)
            </td>
            <td>
                @Html.DisplayFor(modelreview => review.dateReview)
            </td>
            <td>
                @Html.DisplayFor(modelreview => review.Departament.type)
            </td>
            <td>
                @Html.DisplayFor(modelreview => review.Reservation.reservationID)
            </td>

        </tr>
    }
</table>