@model hotel.Models.RoomPackage

@{
    ViewBag.Title = "Crear paquete de habitación";
}

    <h2>Crear paquete de habitación</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="col-md-2 control-label">Nombre del paquete:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.namePackage, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.namePackage, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Precio:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", @type="number", @min=0 } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Tipo de habitación:</label>
            <div class="col-md-10">
                @Html.DropDownList("roomTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.roomTypeID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Index")'">Regresar</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
