@model IEnumerable<hotel.Models.RoomPackage>

@{
    ViewBag.Title = "Paquetes de habitacinoes";
}

<h2>Paquetes de habitacinoes</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Paquete:
        </th>
        <th>
           Precio:
        </th>
        <th>
            Frecuencia:
        </th>
        <th>
           Tipo de habitación:
        </th>
        <th></th>
    </tr>

    @foreach (var package in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelpackage => package.namePackage)
            </td>
            <td>
                @Html.DisplayFor(modelpackage => package.price)
            </td>
            <td>
                @Html.DisplayFor(modelpackage => package.frequency)
            </td>
            <td>
                @Html.DisplayFor(modelpackage => package.RoomType.typeName)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = package.roomPackageID })'">Editar</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = package.roomPackageID })'">Eliminar</button>
            </td>
        </tr>
    }
</table>