@model IEnumerable<hotel.Models.ReservationStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Estado de reservación</h2>

<p>
    @Html.ActionLink("Nuevo Estado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Estado:
        </th>
        <th></th>
    </tr>

    @foreach (var status in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelstatus => status.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = status.reservationStatusID }) |
                @Html.ActionLink("Details", "Details", new { id = status.reservationStatusID }) |
                @Html.ActionLink("Delete", "Delete", new { id = status.reservationStatusID })
            </td>
        </tr>
    }
</table>