@model hotel.Models.Reservation

@{
    ViewBag.Title = "Agregar Reservación";
}

<h2>Ingrese los datos de la reservación</h2>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    <h4>Eres el usuario @ViewBag.Message ? Si no es asi, cierra sesion.</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        
        <div class="col-md-10">
            <label>Cliente:</label>
            @Html.DropDownList("guestID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.guestID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Numero de cuarto</label>
            @Html.DropDownList("roomID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.roomID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <label>Fecha de llegada</label>
            @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <label>Fecha de Salida</label>
            @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Estatus de reservación</label>
            @Html.DropDownList("reservationStatusID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.reservationStatusID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Forma de reservación</label>
            @Html.DropDownList("reservedFromID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.reservedFromID, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">
            <label>Paquete de cuarto</label>
            @Html.DropDownList("roomPackageID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.roomPackageID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Promocion aplicada</label>
            @Html.DropDownList("roomPromoID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.roomPromoID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class=" col-md-10">
            <input type="submit" value="Registrar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Index")'">Regresar</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
