@model hotel.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de llegada:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            Fecha de salida:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            Nombre del empleado:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.name)
        </dd>

        <dt>
            Nombre del Huesped
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest.name)
        </dd>

        <dt>
            Estatus de la reservación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationStatus.status)
        </dd>

        <dt>
            Metodo de reservación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedFrom.reservationMethod)
        </dd>

        <dt>
            Numero de cuarto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.roomID)
        </dd>
        <dt>
            Tipo de cuarto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomType.typeName)
        </dd>

        <dt>
            Paquete de cuarto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomPackage.namePackage)
        </dd>

        <dt>
            Promoción de habitación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomPromo.roomPromoID)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Index")'">Regresar</button>
</p>
