@model hotel.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guest.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationStatus.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationStatus.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservedFrom.reservationMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedFrom.reservationMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.roomID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.roomID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationComplaint.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationComplaint.comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.reservationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
