@model IEnumerable<hotel.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationStatus.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservedFrom.reservationMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.roomID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationComplaint.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPackage.namePackage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPromo.roomPromoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationStatus.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservedFrom.reservationMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.roomID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationComplaint.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomPackage.namePackage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomPromo.roomPromoID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.reservationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.reservationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.reservationID })
        </td>
    </tr>
}

</table>
