@model IEnumerable<hotel.Models.Reservation>

@{
    ViewBag.Title = "Reservaciones";
}

<h2>Lista de reservaciones</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar Nuevo</button>
</p>
<table class="table">
    <tr>
        <th>
            Fecha de llegada
        </th>
        <th>
            Fecha de salida
        </th>
        <th>
            Nombre del cliente
        </th>
        <th>
            Estatus
        </th>
        <th>
           Metodo de reservacion
        </th>
        <th>
            No. de Cuarto
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.startDate.ToString("dd 'de' MMMM 'del' yyyy")
        </td>
        <td>
           @item.endDate.ToString("dd 'de' MMMM 'del' yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationStatus.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservedFrom.reservationMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.roomID) (@Html.DisplayFor(modelItem => item.Room.RoomType.typeName))
        </td>

        <td>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = item.reservationID })'">Editar</button>
            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action( "Details", new { id = item.reservationID })'">Detalles</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = item.reservationID })'">Eliminar</button>
        </td>
    </tr>
}

</table>
