@model IEnumerable<hotel.Models.Reservation>

@{
    ViewBag.Title = "Reservaciones";
}

<h2>Lista de reservaciones</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar Nuevo</button>
</p>
<table class="table">
    <tr>
        <th>
            Fecha de llegada:
        </th>
        <th>
            Fecha de salida:
        </th>
        <th>
            Nombre del cliente:
        </th>
        <th>
            Estatus:
        </th>
        <th>
            Metodo de reservación:
        </th>
        <th>
            No. de Habitació:
        </th>
        <th></th>
    </tr>

    @foreach (var reservation in Model)
    {
        <tr>
            <td>
                @reservation.startDate.ToString("dd 'de' MMMM 'del' yyyy")
            </td>
            <td>
                @reservation.endDate.ToString("dd 'de' MMMM 'del' yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelreservation => reservation.Guest.name)
            </td>
            <td>
                @Html.DisplayFor(modelreservation => reservation.ReservationStatus.status)
            </td>
            <td>
                @Html.DisplayFor(modelreservation => reservation.ReservedFrom.reservationMethod)
            </td>
            <td>
                @Html.DisplayFor(modelreservation => reservation.Room.roomID) (@Html.DisplayFor(modelreservation => reservation.Room.RoomType.typeName))
            </td>

            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = reservation.reservationID })'">Editar</button>
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action( "Details", new { id = reservation.reservationID })'">Detalles</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = reservation.reservationID })'">Eliminar</button>
            </td>
        </tr>
    }
</table>