@model IEnumerable<hotel.Models.AmenityComplaint>

@{
    ViewBag.Title = "Index";
}

<h2>Quejas de comodidades.</h2>

<p>
    @Html.ActionLink("Ingrear Nueva Queja", "Create")
</p>
<table class="table">
    <tr>
        <th>
            #Comodidad:
        </th>
        <th>
            Comentario:
        </th>
        <th>
            Fecha de la queja:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomAmenity.amenityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateComplaint)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.complaintID }) |
                @Html.ActionLink("Details", "Details", new { id = item.complaintID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.complaintID })
            </td>
        </tr>
    }
</table>