@model IEnumerable<hotel.Models.AmenityComplaint>

@{
    ViewBag.Title = "Index";
}

<h2>Quejas de comodidades.</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            ID de la Comodidad:
        </th>
        <th>
            Comodidad:
        </th>
        <th>
            Comentario:
        </th>
        <th>
            Fecha de la queja:
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomAmenity.amenityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomAmenity.Service.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateComplaint)
            </td>
            
        </tr>
    }
</table>