@model IEnumerable<hotel.Models.PlaceOfOrigin>

@{
    ViewBag.Title = "Lista de paises";
}

<h2>Países</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar Pais</button>
</p>
<table class="table">
    <tr>
        <th>
            Codigo de país:
        </th>
        <th>
            Nombre del pais:
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var origin in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelorigin => origin.placeOfOrigin1)
            </td>
            <td>
                @Html.DisplayFor(modelorigin => origin.country)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = origin.placeOfOrigin1 })'">Editar</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = origin.placeOfOrigin1 })'">Eliminar</button>
            </td>
        </tr>
    }
</table>