@model IEnumerable<hotel.Models.PlaceOfOrigin>

@{
    ViewBag.Title = "Lista de paises";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Nuevo Pais", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.placeOfOrigin1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.placeOfOrigin1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.placeOfOrigin1 })
        </td>
    </tr>
}

</table>
