@model IEnumerable<hotel.Models.Departament>

@{
    ViewBag.Title = "Index";
}

<h2>Departementos</h2>

<p>
    @Html.ActionLink("Nuevo Departamento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tipo:
        </th>
        <th>
            Administrador:
        </th>
        <th></th>
    </tr>

@foreach (var department in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modeldepartment => department.type)
        </td>
        <td>
            @Html.DisplayFor(modeldepartment => department.admin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=department.departamentID }) |
            @Html.ActionLink("Details", "Details", new { id=department.departamentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=department.departamentID })
        </td>
    </tr>
}

</table>
