@model IEnumerable<hotel.Models.Employee>

@{
    ViewBag.Title = "Empleados";
}

<h2>Empleados</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Create")'">Agregar</button>
</p>
<table class="table">
    <tr>
        <th>
            Nombre(s):
        </th>
        <th>
            Apellido(s):
        </th>
        <th>
            Fecha de nacimiento:
        </th>
        <th>
            Salario:
        </th>
        <th>
            Usuario:
        </th>
        <th>
            Pais de origen:
        </th>
        <th>
            Ciudad de nacimiento:
        </th>
        <th>
            Departamento:
        </th>
        <th></th>
    </tr>

    @foreach (var employee in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelemployee => employee.name)
            </td>
            <td>
                @Html.DisplayFor(modelemployee => employee.lastName)
            </td>
            <td>
                @employee.DOB.ToString("dd 'de' MMMM 'del' yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelemployee => employee.salary)
            </td>
            <td>
                @Html.DisplayFor(modelemployee => employee.username)
            </td>
            <td>
                @Html.DisplayFor(modelemployee => employee.PlaceOfOrigin1.country)
            </td>
            <td>
                @Html.DisplayFor(modelemployee => employee.City.city1)
            </td>
            <td>
                @Html.DisplayFor(modelemployee => employee.Departament.type)
            </td>

            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action( "Edit", new { id = employee.employeeID })'">Editar</button>
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action( "Details", new { id = employee.employeeID })'">Detalles</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action( "Delete", new { id = employee.employeeID })'">Eliminar</button>
            </td>
        </tr>
    }

</table>