@model IEnumerable<hotel.Models.Invoice>

@{
    ViewBag.Title = "Facturas";
}

<h2>Facturas</h2>

<table class="table">
    <tr>
        <th>
            ID de reservación:
        </th>
        <th>
            Nombre del cliente:
        </th>
        <th>
            Fecha:
        </th>
        <th>
            Subtotal:
        </th>
        <th>
            Descuento:
        </th>
        <th>
            Impuesto:
        </th>
        <th>
            Total:
        </th>
        <th></th>
    </tr>

    @foreach (var invoice in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelinvoice => invoice.Reservation.reservationID)
    </td>
    <td>
        @Html.DisplayFor(modelinvoice => invoice.Reservation.Guest.name)
    </td>
    <td>
        @Html.DisplayFor(modelinvoice => invoice.dateTime)
    </td>
    <td>
        @Html.DisplayFor(modelinvoice => invoice.subtotal)
    </td>
    <td>
        @Html.DisplayFor(modelinvoice => invoice.discount)
    </td>
    <td>
        @Html.DisplayFor(modelinvoice => invoice.tax)
    </td>
    <td>
        @Html.DisplayFor(modelinvoice => invoice.totalDue)
    </td>
    <td><button type="button" class="btn btn-info" onclick="location.href='@Url.Action( "Details", new { id = invoice.invoiceID })'">Detalles</button></td>
</tr>
    }
</table>