@model IEnumerable<hotel.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.reservationID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation.reservationID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.invoiceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.invoiceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.invoiceID })
        </td>
    </tr>
}

</table>
